@import "variables";
@import "mixins";
@import "bootstrap";

// component styles
@import "components/hero";
@import "components/portrait";
@import "components/section";

// content styles
@import "content/background";
@import "content/typography";

body {
  font-family: $body-font;
  scroll-behavior: smooth;
}

main {
  background-color: $brand-grey;
}
