.hero {
  h1 {
    font-size: 1.8rem;
  }

  .img-fluid {
    max-width: 50%;
  }

  @include media-breakpoint-down(sm) {
    h1 {
      text-align: center;
      font-size: 1.3em;
    }

    .img-fluid {
      max-width: 35%;
    }
  }
}
