$bg-skew: 2deg;

.bg-skew-left {
  -webkit-transform: skew(0deg, -$bg-skew);
  transform: skew(0deg, -$bg-skew);
}

.bg-skew-right {
  -webkit-transform: skew(0deg, $bg-skew);
  transform: skew(0deg, $bg-skew);
}

.bg-inverse {
  background-color: $inverse-bg;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: $brand-light;
}

.bg-hero {
  background: rgb(148, 245, 237);
  background: linear-gradient(
    30deg,
    rgba(148, 245, 237, 1) 0%,
    rgba(190, 202, 243, 1) 40%,
    rgba(172, 129, 233, 1) 100%
  );
}
