<article id="hero" class="hero bg-skew-left">
  <div class="hero-bg pt-16 px-2 p-sm-16">
    <div class="row bg-skew-right">
      <div class="col-xl justify-content-center d-flex align-items-center">
        <div class="d-flex-column text-xl-left">
          <h1 class="hero-text font-weight-bold">
            Willkommen beim Turnverein Brüttelen
          </h1>
          <h1 class="hero-text text-secondary">
            Wir arbeiten zur Zeit an einer neuen Webseite. In der Zwischenzeit
            findest Du hier alle wichtigen Informationen zu unseren Anlässen und
            Trainings
          </h1>
        </div>
      </div>
      <div class="hero-img text-center col-md my-auto">
        <img class="img-fluid" src="/img/logo.png" />
      </div>
    </div>
  </div>
</article>
