<section id="hero" class="bg-hero bg-skew-left hero pb-0">
  <div class="container bg-skew-right">
    <div
      class="d-flex flex-column flex-md-row justify-content-center align-items-center py-5 py-md-10"
    >
      <div class="py-md-3 py-lg-5 px-2 px-md-3 px-lg-5">
        <h1 class="font-weight-bold">Willkommen beim Turnverein Brüttelen</h1>
        <h1 class="text-secondary">
          Wir arbeiten zur Zeit an einer neuen Webseite. In der Zwischenzeit
          findest Du hier alle wichtigen Informationen zu unseren Anlässen und
          Trainings
        </h1>
      </div>
      <img
        class="img-fluid py-2 py-md-3 py-lg-5 px-md-3 px-lg-5"
        src="/img/logo.png"
      />
    </div>
  </div>
</section>
