<section id="teams" class="bg-muted text-inverse bg-skew-left text-center pb-4">
  <div class="container text-center bg-skew-right">
    <h2 class="mb-4"><span class="highlight">Trainingsangebote</span></h2>

    <p class="lead">
      Egal ob jung, spritzig oder schon etwas in die Jahre gekommen; wir bieten
      für jede Alterskategorie Trainings an.
    </p>

    <div class="card-group pb-3">
      <div class="card">
        <img
          src="/img/teams/kids.png"
          class="card-img-top bg-dark"
          alt="jugendriege"
        />
        <div class="card-body">
          <h5 class="card-title">Jugendriege</h5>
          <p class="card-text">
            Kinder im Alter von 6-12 Jahren werden bei uns spielerisch und
            altersgerecht an die Leichtathletik herangeführt.
          </p>
          <p class="card-text">
            Das Training findet Freitags von 18:30-20:00 Uhr statt.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Geleitet werden die Trainings von Schumacher Christian, Bärtschi
            Michael und Niklaus Daniel
          </small>
        </div>
      </div>
      <div class="card">
        <img
          src="/img/teams/men.png"
          class="card-img-top bg-dark"
          alt="jugendriege"
        />
        <div class="card-body">
          <h5 class="card-title">Aktivriege</h5>
          <p class="card-text">
            Jugendliche ab 13 Jahren trainieren bei uns mit der Aktivriege
            zusammen. Bei uns liegt der Fokus auf Leichtathletik, Volleyball und
            Fussball.
          </p>
          <p class="card-text">
            Das Training findet Freitags von 20:00-21:30 Uhr statt.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Geleitet werden die Trainings von Schumacher Christian und Michael
            Bärtschi
          </small>
        </div>
      </div>
      <div class="card">
        <img
          src="/img/teams/old.png"
          class="card-img-top bg-dark"
          alt="jugendriege"
        />
        <div class="card-body">
          <h5 class="card-title">MR / FTV</h5>
          <p class="card-text">Turnen für jedermann/-frau.</p>
          <p class="card-text">
            Das Training findet Montags von 20:15-21:45 Uhr statt.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Geleitet werden die Trainings von Monica und Roland Schumacher,
            Margrit Hämmerli und André van den Heuvel
          </small>
        </div>
      </div>
    </div>
  </div>
</section>
